html {
    height: 100%;
}
body {
    background-image: linear-gradient(
            rgba(0, 0, 255, 0.5),
            rgba(255, 255, 0, 0.5)
        ),
        url("../../public/img/Fondo_menu.jpg");
    color: azure;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
