html {
    height: 100%;
}
/* body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(4,27,61,1) 76%);
    color: azure;
  } */

body {
    min-height: 100%;
    /* overflow: hidden; */
    background-image: url("../img/Fondo_menu.jpg");
    background-size: cover;;
    background-position: center;
    background-repeat: repeat;
    font-family: Signika Negative, sans-serif;
    color: azure;
    display: grid;
    justify-content: center;
}
h1 {
  margin: 10px,0,10px;
  text-align: center;
  font-family: Signika Negative, sans-serif;
  color: rgb(255, 255, 255);
}
.btn {
  border: none;
  text-align:center;
  cursor: pointer;
  padding: 25px 80px;
  margin: 0px 28px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  outline: none;
  background-color:rgb(38, 38, 38);
  border: solid 1px transparent;
  border-radius:10px;
  -webkit-font-smoothing: antialiased;
}

.nav {
  margin:auto;
  overflow:hidden;
  background-color:#1d1d1d;
  height:90%;
}

.instructions {
  text-align:center;
  margin-top:10px;
  
}

.wrapper {
    display: grid;
    font-family: Signika Negative, sans-serif;
    color: rgb(255, 255, 255);
    grid-auto-columns: min-content;
    row-gap: 0;
    grid-auto-rows: min-content;
}
